.indexlogo-01 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
   text-decoration: none;   }
.logo-span-01 {
color:#2196F3;   }
.logo-span-header {color: black;    
}
.header-nav {
position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;}
.header-nav-two {
position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;}
.header-nav-three {
position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;}
.header-tel {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;}
.header-mal {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575}
.section-hero-background {
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A}
.section-hero-color {
    position: absolute;
    width: 700px;
    height: 250px;
    left: 452px;
    top: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}
.button-hero-section {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;}
.advantage-section-01 
{position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;}
.advantage-section-001 {
    position: absolute;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;    
}
.advantage-section-02 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; 
}
.advantage-section-002 {
    position: absolute;
    width: 270px;
    height: 75px;
    left: 515px;
    top: 800px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;}
    .advantage-section-03 {
position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 774px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;}
.advantage-section-003{
position: absolute;
width: 270px;
height: 75px;
left: 815px;
top: 800px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;}    
.advantage-section-04 {
position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 774px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;}
.advantage-section-004 {
    position: absolute;
    width: 270px;
    height: 75px;
    left: 1115px;
    top: 800px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;}       
.what-we-do-section {
        position: absolute;
        width:380px;
        height: 45px;
        left: 620px;
        top: 969px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;    }
.what-we-do-img {
position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1061px;}
.what-we-do-comp {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;}
.what-we-do-imgg {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;}
    .team-section-h2 {
    position: absolute;
    width: 270px;
    height: 42px;
    left: 668px;
    top: 1543px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}
.box-igor {
position: absolute;
width: 270px;
height: 368px;
left: 215px;
top: 1635px;
background: #FFFFFF;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;}
.box-olga {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1635px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;    }
.box-nikolay {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1635px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;   }
.box-mihail {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1635px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}
.name-01 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #212121;}
.about-name-01 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;}
.name-02 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}
    .about-olga {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;}        

.name-03 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.about-nikolay {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;}
.name-04 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #212121;}
.about-mikhail {font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;}  
.index-footer-section {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;}
.indexlogo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
color: #2196F3;
text-decoration: none;  }
.footer-map {
    text-decoration: none;  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF; }
.logo-span {
color:#2196F3; }
.logo-span-footer {
color:#FFFFFF;}
.footer-item {
    text-decoration: none;  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);position: absolute;}
.footer-item-02 {
    text-decoration: none;  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 60px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
    .footer-list a:focus, a:hover {
        color: #2196f3;
        background: #2F303A;}
        .portfoliologo-01 {
            background-color: white;
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            letter-spacing: 0.03em;
            color: #2196F3;   
            text-decoration: none;      
        }
        .logo-span-03 {
        color:#2196F3;   
        }
        .logo-span-header-03 {
        color: black;;    
        }    
    
    
ul {list-style: none;}
li {
    list-style: none;
}
a.list-item-cheked {color: #212121; }
.list-item a:hover,
.list-item a:focus { 
    color: #2196f3;
    background: #FFFFFF;}
    
.header-nav a:hover a:focus
.header-nav-two a:hover a:focus
.header-nav-three a:hover a:focus {
    color: #2196f3;
    background: #FFFFFF;}
.list-item-cheked-01 {
position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;  }
.list-item-cheked-02{
    text-decoration: none;  
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;}
.list-item-cheked-03{
    text-decoration: none;  
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em; 
    color: #212121;
}
    .list-item-cheked-mal {
        text-decoration: none;  
        position: absolute;
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 32px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;}
.list-item-cheked-tel {
    text-decoration: none;  
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;}


.section-portfolio-button a:hover, a:focus{
    color: #2196f3;
    background: #FFFFFF;
}
.button-01 
{ position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    background: #2196F3;
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;}
.button-02 {position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;}

.button-03 {position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;}

.button-04 {position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;}
.button-05 {position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;}

    .img-comp {
        position: absolute;
        width: 370px;
        height: 294px;
        left: 215px;
        top: 262px;
        background: url(portfolio1.jpg);
    }
    .img-basket {
        position: absolute;
        width: 370px;
        height: 294px;
        left: 615px;
        top: 262px;
        background: url(portfolio2.jpg);
    }
    .img-fish {
        position: absolute;
        width: 370px;
        height: 294px;
        left: 1015px;
        top: 262px;
        
        background: url(portfolio-1.jpg);    
    }
    .img-naush {
        position: absolute;
        width: 370px;
        height: 294px;
        left: 215px;
        top: 696px;
        
        background: url(portfolio-2.jpg);    
    }
    .img-kub {
        position: absolute;
        width: 370px;
        height: 294px;
        left: 615px;
        top: 696px;
        background: url(portfolio5.jpg);    
    }
    .img-displ{
position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 696px;
background: url(111.jpg);
}
.img-magaz {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1130px;
    background: url(portfolio7.jpg);    
}
.img-link {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1130px;
    background: url(portfolio8.jpg);    
}
.img-nout {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1130px;
    
    background: url(2910404.jpg);    
}
.portfolio-adress {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;   
}
.footer-section {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;   
}
.logoportfol {
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;    
    text-decoration: none;  
}
.footer-list-01 {
    text-decoration: none;  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);position: absolute;}
.footer-list-02 {
    text-decoration: none;  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 60px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
    .footer-list a:focus, a:hover {
        color: #2196f3;
        background: #2F303A;}
